.App {
    text-align: center;
    width: 600px;
    height: 450px;
    margin: 0 auto;
    position: relative;
}

.button-spin {
    border: unset;
    background-color: #FF0000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #FFFFFF;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
    transition: 0.2s ease-out;
}
.button-spin:disabled{
    background-color: #AAAAAA;
}

.button-spin:disabled:hover i{
    animation: unset;
}

.button-spin i {
    display: inline-block;
}

.button-spin:hover i {
    animation: icofont-spin 2s infinite linear;
}

@keyframes icofont-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}